@font-face {
	font-family: Asana;
	src: url("https://cdn.mathcha.io/fonts/Asana-Math.otf") format("opentype");
}

@font-face {
	font-family: Asana-Math;
	src: url("https://cdn.mathcha.io/fonts/Asana-math-mode.otf") format("opentype");
}

@font-face {
	font-family: Asana-Mathbb;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathbb.otf") format("opentype");
}

@font-face {
	font-family: Asana-Mathit;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathit.otf") format("opentype");
}

@font-face {
	font-family: Asana-Mathcal;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathcal.otf") format("opentype");
}

@font-face {
	font-family: Asana-Mathscr;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathscr.otf") format("opentype");
}

@font-face {
	font-family: Asana-Mathfrak;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathfrak.otf") format("opentype");
}

@font-face {
	font-family: Asana-Mathsf;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathsf.otf") format("opentype");
}

@font-face {
	font-family: Asana-Mathtt;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathtt.otf") format("opentype");
}

@font-face {
	font-family: Asana-Mathrm;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathrm.otf") format("opentype");
}

@font-face {
	font-family: 'FontAwesome';
	src: url('https://cdn.mathcha.io/fonts/icomoon.eot');
	src: url('https://cdn.mathcha.io/fonts/icomoon.eot') format('embedded-opentype'), url('https://cdn.mathcha.io/fonts/icomoon.woff') format('woff'), url('https://cdn.mathcha.io/fonts/icomoon.ttf') format('truetype'), url('https://cdn.mathcha.io/fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**
Latin Modern
**/

@font-face {
	font-family: LatinModern;
	src: url("https://cdn.mathcha.io/fonts/latinmodern-math.otf") format("opentype");
}

@font-face {
	font-family: LatinModern-Math;
	src: url("https://cdn.mathcha.io/fonts/latinmodern-math-mode.otf") format("opentype");
}

@font-face {
	font-family: LatinModern-Mathbb;
	src: url("https://cdn.mathcha.io/fonts/types-generated/latinmodern-mathbb.otf") format("opentype");
}

@font-face {
	font-family: LatinModern-Mathit;
	src: url("https://cdn.mathcha.io/fonts/types-generated/latinmodern-mathit.otf") format("opentype");
}

@font-face {
	font-family: LatinModern-Mathcal;
	src: url("https://cdn.mathcha.io/fonts/types-generated/latinmodern-mathcal.otf") format("opentype");
}

@font-face {
	font-family: LatinModern-Mathscr;
	src: url("https://cdn.mathcha.io/fonts/types-generated/latinmodern-mathscr.otf") format("opentype");
}

@font-face {
	font-family: LatinModern-Mathfrak;
	src: url("https://cdn.mathcha.io/fonts/types-generated/latinmodern-mathfrak.otf") format("opentype");
}

@font-face {
	font-family: LatinModern-Mathsf;
	src: url("https://cdn.mathcha.io/fonts/types-generated/latinmodern-mathsf.otf") format("opentype");
}

@font-face {
	font-family: LatinModern-Mathtt;
	src: url("https://cdn.mathcha.io/fonts/types-generated/latinmodern-mathtt.otf") format("opentype");
}

@font-face {
	font-family: LatinModern-Mathrm;
	src: url("https://cdn.mathcha.io/fonts/types-generated/latinmodern-mathrm.otf") format("opentype");
}

/***********************************************************/


/**
Thicker Latin Modern
**/

@font-face {
	font-family: ThickerLm;
	src: url("https://cdn.mathcha.io/fonts/thickerlm-math.otf") format("opentype");
}

@font-face {
	font-family: ThickerLm-Math;
	src: url("https://cdn.mathcha.io/fonts/thickerlm-math-mode.otf") format("opentype");
}

@font-face {
	font-family: ThickerLm-Mathbb;
	src: url("https://cdn.mathcha.io/fonts/types-generated/thickerlm-mathbb.otf") format("opentype");
}

@font-face {
	font-family: ThickerLm-Mathit;
	src: url("https://cdn.mathcha.io/fonts/types-generated/thickerlm-mathit.otf") format("opentype");
}

@font-face {
	font-family: ThickerLm-Mathcal;
	src: url("https://cdn.mathcha.io/fonts/types-generated/thickerlm-mathcal.otf") format("opentype");
}

@font-face {
	font-family: ThickerLm-Mathscr;
	src: url("https://cdn.mathcha.io/fonts/types-generated/thickerlm-mathscr.otf") format("opentype");
}

@font-face {
	font-family: ThickerLm-Mathfrak;
	src: url("https://cdn.mathcha.io/fonts/types-generated/thickerlm-mathfrak.otf") format("opentype");
}

@font-face {
	font-family: ThickerLm-Mathsf;
	src: url("https://cdn.mathcha.io/fonts/types-generated/thickerlm-mathsf.otf") format("opentype");
}

@font-face {
	font-family: ThickerLm-Mathtt;
	src: url("https://cdn.mathcha.io/fonts/types-generated/thickerlm-mathtt.otf") format("opentype");
}

@font-face {
	font-family: ThickerLm-Mathrm;
	src: url("https://cdn.mathcha.io/fonts/types-generated/thickerlm-mathrm.otf") format("opentype");
}

/***********************************************************/

/* Computer Modern */

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('https://cdn.mathcha.io/fonts/others-text-mode/computer-modern/Sans/cmunss.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('https://cdn.mathcha.io/fonts/others-text-mode/computer-modern/Sans/cmunsx.otf') format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('https://cdn.mathcha.io/fonts/others-text-mode/computer-modern/Sans/cmunsi.otf') format("opentype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Sans';
	src: url('https://cdn.mathcha.io/fonts/others-text-mode/computer-modern/Sans/cmunso.otf') format("opentype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('https://cdn.mathcha.io/fonts/others-text-mode/computer-modern/Serif/cmunrm.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('https://cdn.mathcha.io/fonts/others-text-mode/computer-modern/Serif/cmunbx.otf') format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('https://cdn.mathcha.io/fonts/others-text-mode/computer-modern/Serif/cmunti.otf') format("opentype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Serif';
	src: url('https://cdn.mathcha.io/fonts/others-text-mode/computer-modern/Serif/cmunbi.otf') format("opentype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('https://cdn.mathcha.io/fonts/others-text-mode/computer-modern/Typewriter/cmuntt.otf') format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('https://cdn.mathcha.io/fonts/others-text-mode/computer-modern/Typewriter/cmuntb.otf') format("opentype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('https://cdn.mathcha.io/fonts/others-text-mode/computer-modern/Typewriter/cmunit.otf') format("opentype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Typewriter';
	src: url('https://cdn.mathcha.io/fonts/others-text-mode/computer-modern/Typewriter/cmuntx.otf') format("opentype");
	font-weight: bold;
	font-style: italic;
}

/**/




/**
Sans Math + Liberation Font
**/

@font-face {
	font-family: Sans;
	src: url("https://cdn.mathcha.io/fonts/Sans-Math.otf") format("opentype");
}

@font-face {
	font-family: Sans-Math;
	src: url("https://cdn.mathcha.io/fonts/Sans-Math-mode.otf") format("opentype");
}

@font-face {
	font-family: Sans-Bold;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Sans-bold.otf") format("opentype");
	font-weight: bold;
}

@font-face {
	font-family: Sans-Mathbb;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathbb.otf") format("opentype");
}

@font-face {
	font-family: Sans-Mathit;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Sans-mathit.otf") format("opentype");
}

@font-face {
	font-family: Sans-Mathcal;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathcal.otf") format("opentype");
}

@font-face {
	font-family: Sans-Mathscr;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathscr.otf") format("opentype");
}

@font-face {
	font-family: Sans-Mathfrak;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathfrak.otf") format("opentype");
}

@font-face {
	font-family: Sans-Mathsf;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathsf.otf") format("opentype");
}

@font-face {
	font-family: Sans-Mathtt;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathtt.otf") format("opentype");
}

@font-face {
	font-family: Sans-Mathrm;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Asana-mathrm.otf") format("opentype");
}

@font-face {
	font-family: Sans-Mathbf;
	src: url("https://cdn.mathcha.io/fonts/types-generated/Sans-mathbf.otf") format("opentype");
	font-weight: bold;
}

/***********************************************************/